@import "tailwindcss";

body {
  background-color: #09090b;
  color: #a1a1aa;
  font-feature-settings:
    "liga" 1,
    "calt" 1;

  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 32px 32px;
  background-attachment: fixed;
}

::selection {
  background-color: #fcd34d;
  color: #09090b;
}
