@import "tailwindcss";

body {
  background-color: #050505;
  color: #a3a3a3;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  background-image: radial-gradient(#1a1a1a 1.5px, transparent 1.5px);
  background-size: 28px 28px;
}

::selection {
  background-color: #06b6d4;
  color: #050505;
}
