@import "tailwindcss";

body {
  background-color: #050505;
  color: #a3a3a3;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  background-image: radial-gradient(#111111 1px, transparent 1px);
  background-size: 24px 24px;
}

::selection {
  background-color: #06b6d4;
  color: #050505;
}
